<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pasal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Pasal.Properties.Settings.Configstring" connectionString="foreign keys=True; Data Source=pasa;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
 
  <userSettings>
    <Pasal.Properties.Settings>
      <setting name="dbname" serializeAs="String">
        <value>pasa</value>
      </setting>
      <setting name="Search_Group" serializeAs="String">
        <value />
      </setting>
      <setting name="Search_Company" serializeAs="String">
        <value />
      </setting>
      <setting name="dbEngine" serializeAs="String">
        <value>sqlite</value>
      </setting>
    </Pasal.Properties.Settings>
  </userSettings>
</configuration>